<!DOCTYPE html>
<html ng-app="user-repo">
<head>
  <meta charset="utf-8">
  <title>user repo</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/main.js"></script>
</head>
<body ng-controller="UserController as vm">
  <div>
    <ul>
      <li ng-repeat="user in vm.userList">
        <div ng-if="!user.edit">
          <pre>
<span ng-bind="user.displayName"></span>
<span ng-bind="user.firstName"></span>
<span ng-bind="user.lastName"></span>
  <span>  </span><div ng-repeat="phone in user.phones" ng-bind="phone.number"></div>
          </pre>
          <button ng-click="user.edit=true">edytuj</button>
        </div>

        <div ng-if="user.edit">
          <input type="text" ng-model="user.displayName"></input>
          <input type="text" ng-model="user.firstName"></input>
          <input type="text" ng-model="user.lastName"></input>
          <input type="text" ng-repeat="phone in user.phones" ng-model="phone.number"></input>
          <button ng-click="user.edit=false">anuluj</button>
          <button ng-click="vm.save(user)">zapisz</button>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <span ng-bind="vm.footerMessage"></span>
  </div>
</body>
</html>
