<!DOCTYPE html>
<html ng-app="user-repo">
<head>
  <meta charset="utf-8">
  <title>user repo</title>
  <link rel="stylesheet" href="css/main.css" type="text/css" media="all" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="js/main.js"></script>
</head>
<body ng-controller="UserController as vm">
  <div>
    <ul>
      <li ng-repeat="user in vm.userList">
        <div ng-if="!user.edit">
          <ul>
            <li ng-bind="user.displayName"></li>
            <li ng-bind="user.firstName"></li>
            <li ng-bind="user.lastName"></li>
            <li>
              <ul>
                <li ng-repeat="phone in user.phones" ng-bind="phone.number"></li>
              </ul>
            </li>
          </ul>
          <button ng-click="vm.edit(user)">edytuj</button>
        </div>

        <div ng-if="user.edit">
          <input type="text" ng-model="user.displayName"></input>
          <input type="text" ng-model="user.firstName"></input>
          <input type="text" ng-model="user.lastName"></input>
          <input type="text" ng-repeat="phone in user.phones" ng-model="phone.number"></input>
          <button ng-click="vm.cancel(user)">anuluj</button>
          <button ng-click="vm.save(user)">zapisz</button>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <pre ng-bind="vm.footerMessage"></pre>
  </div>
</body>
</html>
